parameters:
	ignoreErrors:
		-
			message: "#^EliasHaeussler\\\\Typo3FormConsent\\\\Domain\\\\Finishers\\\\ConsentFinisher\\:\\:__construct\\(\\) does not call parent constructor from TYPO3\\\\CMS\\\\Form\\\\Domain\\\\Finishers\\\\AbstractFinisher\\.$#"
			count: 1
			path: Classes/Domain/Finishers/ConsentFinisher.php

		-
			message: "#^Call to function is_string\\(\\) with string will always evaluate to true\\.$#"
			count: 2
			path: Classes/Domain/Finishers/FinisherOptions.php

		-
			message: "#^PHPDoc type array\\<int, class\\-string\\<Symfony\\\\Component\\\\ExpressionLanguage\\\\ExpressionFunctionProviderInterface\\>\\> of property EliasHaeussler\\\\Typo3FormConsent\\\\ExpressionLanguage\\\\ConsentConditionProvider\\:\\:\\$expressionLanguageProviders is not the same as PHPDoc type array of overridden property TYPO3\\\\CMS\\\\Core\\\\ExpressionLanguage\\\\AbstractProvider\\:\\:\\$expressionLanguageProviders\\.$#"
			count: 1
			path: Classes/ExpressionLanguage/ConsentConditionProvider.php

		-
			message: "#^Method EliasHaeussler\\\\Typo3FormConsent\\\\Type\\\\Transformer\\\\TypeTransformerInterface\\:\\:transform\\(\\) return type with generic class EliasHaeussler\\\\Typo3FormConsent\\\\Type\\\\JsonType does not specify its types\\: TKey, TValue$#"
			count: 1
			path: Classes/Type/Transformer/TypeTransformerInterface.php

		-
			message: "#^Property TYPO3\\\\TestingFramework\\\\Core\\\\Acceptance\\\\Helper\\\\AbstractModalDialog\\:\\:\\$tester \\(TYPO3\\\\TestingFramework\\\\Core\\\\Acceptance\\\\Helper\\\\AcceptanceTester\\) does not accept EliasHaeussler\\\\Typo3FormConsent\\\\Tests\\\\Acceptance\\\\Support\\\\AcceptanceTester\\.$#"
			count: 1
			path: Tests/Acceptance/Support/Helper/ModalDialog.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) with 'approvalPeriod' and EliasHaeussler\\\\Typo3FormConsent\\\\Domain\\\\Finishers\\\\FinisherOptions will always evaluate to false\\.$#"
			count: 1
			path: Tests/Functional/Domain/Finishers/FinisherOptionsTest.php

		-
			message: "#^Call to static method PHPUnit\\\\Framework\\\\Assert\\:\\:assertArrayHasKey\\(\\) with 'foo' and EliasHaeussler\\\\Typo3FormConsent\\\\Type\\\\JsonType\\<string, string\\> will always evaluate to false\\.$#"
			count: 1
			path: Tests/Unit/Type/JsonTypeTest.php
