<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{error}">
    <f:then>
        <f:switch expression="{reason}">
            <f:case value="invalidConsent">
                <f:render partial="Message" arguments="{
                    severity: 'danger',
                    titleKey: 'consent.dismiss.error.invalidConsent.title',
                    messageKey: 'consent.dismiss.error.invalidConsent.body'
                }" />
            </f:case>
            <f:case value="invalidEmail">
                <f:render partial="Message" arguments="{
                    severity: 'danger',
                    titleKey: 'consent.dismiss.error.invalidEmail.title',
                    messageKey: 'consent.dismiss.error.invalidEmail.body'
                }" />
            </f:case>
            <f:defaultCase>
                <f:render partial="Message" arguments="{
                    severity: 'danger',
                    titleKey: 'consent.dismiss.error.unknown.title',
                    messageKey: 'consent.dismiss.error.unknown.body'
                }" />
            </f:defaultCase>
        </f:switch>
    </f:then>
    <f:else>
        <f:render partial="Message" arguments="{
            severity: 'success',
            titleKey: 'consent.dismiss.success.title',
            messageKey: 'consent.dismiss.success.body'
        }" />
    </f:else>
</f:if>

</html>
