<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:if condition="{error}">
    <f:then>
        <f:render partial="Error/Dismiss" arguments="{
            reason: reason,
            exception: exception
        }" />
    </f:then>
    <f:else if="{verificationNeeded}">
        <f:render partial="Verification" arguments="{
            action: 'dismiss',
            consent: consent
        }" />
    </f:else>
    <f:else>
        <f:render partial="Message" arguments="{
            severity: 'success',
            titleKey: 'consent.dismiss.success.title',
            messageKey: 'consent.dismiss.success.body'
        }" />
    </f:else>
</f:if>

</html>
