<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:variable name="link">
    <f:uri.action action="approve"
                  controller="Consent"
                  extensionName="FormConsent"
                  pluginName="Consent"
                  absolute="1"
                  pageUid="{pageUid}"
                  arguments="{
                      hash: consent.validationHash,
                      email: consent.email,
                      verify: verify
                  }" />
</f:variable>

<a href="{link -> f:spaceless()}">{linkText -> f:or(alternative: link) -> f:spaceless()}</a>

</html>
