services:
  _defaults:
    autowire: true
    autoconfigure: true
    public: false

  EliasHaeussler\Typo3FormConsent\:
    resource: '../Classes/*'
    exclude:
      - '../Classes/DependencyInjection/*'
      - '../Classes/Domain/Finishers/FinisherOptions.php'
      - '../Classes/Domain/Model/*'
      # @todo Remove once support for EXT:form_crshield v3 / TYPO3 v13 is dropped
      - '../Classes/Event/Listener/ThirdPartyEventListenerProxy.php'

  connection.tx_formconsent_domain_model_consent:
    class: 'TYPO3\CMS\Core\Database\Connection'
    factory: ['@TYPO3\CMS\Core\Database\ConnectionPool', 'getConnectionForTable']
    arguments:
      - !php/const EliasHaeussler\Typo3FormConsent\Domain\Model\Consent::TABLE_NAME
