name: CI
on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main

permissions: read-all

jobs:
  prepare:
    name: Prepare workflow
    uses: eliashaeussler/.github/.github/workflows/pull-request.yaml@main

  cgl:
    name: CGL
    runs-on: ubuntu-latest
    needs: prepare
    if: needs.prepare.outputs.continue == 'true'
    steps:
      - uses: actions/checkout@v6

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          # We use the minimum supported PHP version
          php-version: 8.2
          tools: composer:v2, cs2pr
          coverage: none

      # Validation
      - name: Validate composer.json
        run: composer validate --strict

      # Install dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3

      # Analyze
      - name: Analyze dependencies
        run: composer cgl analyze:dependencies

      # Linting
      - name: Lint composer.json
        run: composer cgl lint:composer
      - name: Lint Editorconfig
        run: composer cgl lint:editorconfig
      - name: Lint PHP
        run: composer cgl lint:php -- --format=checkstyle | cs2pr
      - name: Lint TypoScript
        run: composer cgl lint:typoscript

      # SCA
      - name: SCA PHP
        run: composer cgl sca:php -- --error-format github

      # Migration
      - name: Rector migration
        run: composer cgl migration:rector -- --dry-run

      # Documentation
      - name: Check documentation build
        run: |
          mkdir -p .Build/docs
          composer docs:build -- --no-progress --fail-on-log

  crowdin:
    name: Synchronize with Crowdin
    runs-on: ubuntu-latest
    needs: prepare
    if: ${{ needs.prepare.outputs.continue == 'true' && github.ref_name == 'main' }}
    steps:
      - uses: actions/checkout@v6

      - name: Upload sources
        uses: crowdin/github-action@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          config: '.crowdin.yaml'
          project_id: ${{ secrets.CROWDIN_PROJECT_ID }}
          token: ${{ secrets.CROWDIN_PERSONAL_TOKEN }}
          crowdin_branch_name: 'main'

  tests:
    name: Tests (PHP ${{ matrix.php-version }}, TYPO3 ${{ matrix.typo3-version }} & ${{ matrix.dependencies }} dependencies)
    runs-on: ubuntu-latest
    needs: prepare
    if: needs.prepare.outputs.continue == 'true'
    strategy:
      fail-fast: false
      matrix:
        php-version: ["8.2", "8.3", "8.4", "8.5"]
        typo3-version: ["13.4"]
        dependencies: ["highest", "lowest"]
    steps:
      - uses: actions/checkout@v6

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
          tools: composer:v2
          coverage: none
          # @todo Remove once Codeception fixes PHP 8.5 support
          ini-values: register_argc_argv=On

      # Setup DDEV
      - name: Setup DDEV
        uses: ddev/github-action-setup-ddev@v1
        with:
          version: '1.24.10'
          autostart: false
      - name: Configure and start DDEV
        run: |
          ddev config --project-type=typo3 --php-version=${{ matrix.php-version }}
          ddev start

      # Install dependencies
      - name: Install Composer dependencies
        uses: ramsey/composer-install@v3
        with:
          dependency-versions: ${{ matrix.dependencies }}
          composer-options: --with=typo3/cms-core:"^${{ matrix.typo3-version }}"

      # Run tests
      - name: Run functional and unit tests
        run: |
          ddev composer test:functional
          ddev composer test:unit
      - name: Run acceptance tests
        uses: nick-fields/retry@v3
        # @todo Enable once Codeception fixes support for PHP 8.5
        if: ${{ matrix.php-version != '8.5' }}
        with:
          max_attempts: 3
          retry_on: error
          timeout_minutes: 10
          command: ddev composer test:acceptance
          new_command_on_retry: ddev composer test:acceptance -- -g failed

      # Save acceptance reports
      - uses: actions/upload-artifact@v5
        with:
          name: acceptance-reports-${{ matrix.php-version }}-${{ matrix.typo3-version }}-${{ matrix.dependencies }}
          path: |
            .Build/log/acceptance-reports
            var/log/typo3_*.log
        if: failure()

  test-coverage:
    name: Test coverage
    runs-on: ubuntu-latest
    needs: prepare
    if: needs.prepare.outputs.continue == 'true'
    steps:
      - uses: actions/checkout@v6

      # Prepare environment
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          # @todo Switch to PHP 8.5 once Codeception fixes support for it
          php-version: 8.4
          tools: composer:v2
          coverage: none

      # Setup DDEV
      - name: Setup DDEV
        uses: ddev/github-action-setup-ddev@v1
        with:
          version: '1.24.10'
          autostart: false
      - name: Configure and start DDEV
        run: |
          ddev config --project-type=typo3
          ddev start

      # Run tests
      - name: Run functional and unit tests
        run: |
          ddev composer test:coverage:functional
          ddev composer test:coverage:unit
      - name: Run acceptance tests
        uses: nick-fields/retry@v3
        with:
          max_attempts: 3
          retry_on: error
          timeout_minutes: 10
          command: ddev composer test:coverage:acceptance
      - name: Merge coverage reports
        run: ddev composer test:coverage:merge

      # Upload artifact
      - name: Fix coverage path
        working-directory: .Build/coverage
        run: sed -i 's#/var/www/html#${{ github.workspace }}#g' clover.xml
      - name: Upload coverage artifact
        uses: actions/upload-artifact@v5
        with:
          name: coverage
          path: .Build/coverage/clover.xml
          retention-days: 7

      # Save acceptance reports
      - uses: actions/upload-artifact@v5
        if: failure()
        with:
          name: acceptance-reports-coverage
          path: |
            .Build/log/acceptance-reports
            var/log/typo3_*.log

  report-coverage:
    name: Report test coverage
    needs: test-coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      # Download artifact
      - name: Download coverage artifact
        id: download
        uses: actions/download-artifact@v6
        with:
          name: coverage

      # Coveralls
      - name: Coveralls report
        uses: coverallsapp/github-action@v2
        with:
          file: ${{ steps.download.outputs.download-path }}/clover.xml
